extends layout

block content
  h1= title
  p Welcome to our #{title} page! We are a company committed to finding you the best food tailored to you. Check out our website <a href="http://eatable.at">here</a>!