extends layout

block content
	h1 This is the app!
	a(href='/app/attributes') Attributes  
	a(href='/app/cities') Cities  
	a(href='/app/countries') Countries  
	a(href='/app/days') Days  
	a(href='/app/foods') Foods
	a(href='/app/months') Months  
	a(href='/app/states') States    