extends layout
append head
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')


block content
	.hero-unit
		h1 Food name
		p Text #{data.text}
		p
			a(class="btn btn-primary btn-large") Take me there!