extends layout
append head
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')

block content
	!{data.header}
	.hero-unit
		h1 Food 2 name
		p Food 2 Description
		p
			a(class="btn btn-primary btn-large") Take me there!
	.hero-unit
		h1 Food 3 name
		p Food 3 Description
		p
			a(class="btn btn-primary btn-large") Take me there!
	.hero-unit
		h1 Food 4 name
		p Food 4 Description
		p
			a(class="btn btn-primary btn-large") Take me there!
	.hero-unit
		h1 Food name
		p #{data.text}
		p
			a(class="btn btn-primary btn-large") Take me there!
	.hero-unit
		h1 Food name
		p #{data.text}
		p
			a(class="btn btn-primary btn-large") Take me there!
	.hero-unit
		h1 Food name
		p #{data.text}
		p
			a(class="btn btn-primary btn-large") Take me there!