extends layout

block content
  h1= title
  p Welcome to our sign-up page!
  form(method="POST", action="/signup")
    div
      input(name="name", type='text', id='email', placeholder='What\'s your email?')
    div
      input(type='submit', name='submit', value='Sign up', href='/thanks')
  a(href='/')!='Back to home'