extends layout
	
block content
	//h1=title
	div(style="text-align:center;")
		a(href="http://api.eatable.at:3000/auth/google_oauth2")
			img(src='/images/sign-in-with-google.png', height="65px", width="300px", style="cursor:pointer")
	p(style='text-align:center;margin-top:10px;') --or--
	div(style="text-align:center;")
		a(href="http://api.eatable.at:3000/auth/facebook")
			img(src='/images/fblogin.png', height='50px',width='290px',style='cursor:pointer;margin-top:0px;')