extends layout
append head
	title='hello'
	//script(type='text/javascript', src='/javascripts/postemail.js')
	script(type='text/javascript').
		console.log("Hello!");

block content
	h1= title
	p Thank you for submitting your email address. You'll hear back from us soon.