extends layout
prepend head
	//script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
	script(type="text/javascript",src="/javascripts/jquery_plugins/sticky.js")

append after
	link(rel='stylesheet', href='/stylesheets/ui/ui.css')
	script(type="text/javascript",src="/javascripts/jquery_plugins/sticky.js")
	script(type='text/javascript', src='/javascripts/ui/jquery_ui.js')
	script(type='text/javascript', src='/javascripts/ui/description.js')

	// initialize google maps
	script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGWNkYwP2hY2JqfLeiYooGi1K7eOoAXDY&sensor=false")
	script(type='text/javascript', src='/javascripts/ui/maps.js')

	// restaurant
	script(type='text/javascript', src='/javascripts/ui/restaurant.js')

block dropper
	.dropdown
		button.btn.btn-default.dropdown-toggle#dropdownMenu1(data-toggle="dropdown") How far away?
			span.caret

		ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
			li(role="presentation")
				a(role="menuitem" tabindex="-1" href="#crawl") Crawl (<1 block)
			li(role="presentation")
				a(role="menuitem" tabindex="-1" href="#walk") Walk (1-5 blocks)
			li(role="presentation")
				a(role="menuitem" tabindex="-1" href="#bike") Bike (5-10 blocks)
			li(role="presentation")
				a(role="menuitem" tabindex="-1" href="#drive") Drive (10+ blocks)

block content
	#insidewrapper(style="margin-left:270px;")
		#restaurant venue

		img(id="sticker" src="/images/logo.png")

		#venuetab
		
		#foot
			#map-canvas
			#desc description
			#like Do you like it?

	div(id="data" style="")
		!{data.header}