html
	head
		title First Template
		link(rel="stylesheet" type="text/css" href="/stylesheets/templates/one.css")
		script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.3.min.js')
		script(type='text/javascript', src='/javascripts/ui/templates.js')
	
	body
		#header Hey Danny, check out these dishes!
		
		#thumbnails
			.item
				img(src="http://img.eatable.at/stock_sub.jpg")

			.item.templatefade
				img(src="http://img.eatable.at/stock_milkshake.jpg")

			.item.templatefade
				img(src="http://img.eatable.at/stock_appetizer.jpg")

			.item.templatefade
				img(src="http://img.eatable.at/stock_seafood.jpg")

			.item.templatefade
				img(src="http://img.eatable.at/stock_wrap.jpg")

			.item.templatefade
				img(src="http://img.eatable.at/stock_fish.jpg")

			.item.templatefade
				img(src="http://img.eatable.at/stock_dessert.jpg")

		#bigfood
			img(class="mainimage" src="http://img.eatable.at/stock_pizza.jpg")
		
		#popupinfo
