// Note that doesn't extend the layout

head
	meta(name="viewport", content="initial-scale=1.0, user-scalable=no")

	link(rel="stylesheet", href="/stylesheets/maps/full.css")

	script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGWNkYwP2hY2JqfLeiYooGi1K7eOoAXDY&sensor=false")

	script(type="text/javascript", src="/javascripts/maps/full.js")

block content
	#map-canvas