body, html {
	overflow: hidden;
	overflow-y: hidden;
}

.fade {
	opacity: 1;
}

#sticker {
	/* background: black; */
  	/*height: 500px;
  	width: 500px; */
  	height: 100%;
  	width: 100%;
  	padding: 5px;
}

#insidewrapper {
	/*width:500px; */
	height:100%;
	width: 60%;
	margin-left:300px;
	margin-top:40px;
	position: absolute;
	z-index: 1;
		/* to make it hide behind header */
}

#data {
	/* height: 800px; */
	margin-top: 50px;
	height: 550px;
	width:250px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top:22px;
}

#data div {
	padding: 5% 400px 5% 30%;
	margin-left: -50px;
	width:100%;
	margin-top:-30px;
}

#data div img {
	height:70%;
	width:85%;
}

.selected {
	background-color: #00ffff;
}

.selected img {
	background-color: gray;
}