.fade {
	opacity: 1;
}

#sticker {
	/* background: black; */
  	height: 500px;
  	width: 500px;
  	padding: 5px;
}

#wrapper {
	width:500px;
	margin-left:300px;
	margin-top:-20px;
}

#data {
	height: 800px;
	width:300px;
	margin-top:-500px;
	overflow: auto;
}

#data div {
	width:200px;
}

#data div img {
	height:200px;
	width:200px;
}