extends ../app

block content
	h1 Days
	a(href='/app/attributes') Attributes  
	a(href='/app/cities') Cities  
	a(href='/app/countries') Countries  
	a(href='/app/days') Days  
	a(href='/app/foods') Foods 
	a(href='/app/months') Months  
	a(href='/app/states') States  
	a(href='/app/streets') Streets  
	a(href='/app/users') Users  

	p 
	p ##########################
	p
	p days.json (GET)
	p response: #{data1.response}
	p
	p ##########################
	p
	p days/58.json (GET)
	p response: #{data2.response}
	p
	p ##########################
	p
	p days.json (POST)
	form(method="POST", action="/app/days")
		div
			input(name="day", type='text', placeholder='add a day')
		div
			input(type='submit', name='submit', value='add me')
	p
	p ##########################
	p
	p days/58.json (PUT)
	p (for updating a day)
	form(method="POST", action="/app/days/put")
		div
			input(name="day", type='text', placeholder='change a day')
		div
			input(type='submit', name='submit', value='change me')

	p
	p ##########################
