
ck content
        h1 Users
        a(href='/app/attributes') Attributes
        a(href='/app/cities') Cities
        a(href='/app/countries') Countries
        a(href='/app/days') Days
        a(href='/app/foods') Foods
        a(href='/app/months') Months
        a(href='/app/states') States
        a(href='/app/streets') Streets
        a(href='/app/users') Users
        a(href='/app/users') OAuths
        a(href='/app/users') Recommendations
        a(href='/app/users') Venues
        a(href='/app/users') Years
        a(href='/app/users') Zipcodes

