extends ../app

block content
	h1 Users
	a(href='/app/attributes') Attributes  
	a(href='/app/cities') Cities  
	a(href='/app/countries') Countries  
	a(href='/app/days') Days  
	a(href='/app/foods') Foods  
	a(href='/app/months') Months 
	a(href='/app/states') States  
	a(href='/app/streets') Streets  
	a(href='/app/users') Users  
	a(href='/app/oaths') OAuths  
	a(href='/app/recommendations') Recommendations  
	a(href='/app/venues') Venues  
	a(href='/app/years') Years  
	a(href='/app/zipcodes') Zipcodes  
