extends ../layout

block content
	h2 Maps
	ol
		li
			a(href="/projects/maps/full") Fullscreen map
		li
			a(href="/projects/maps/simple") Regular map
		li
			a(href="/projects/maps/geo") Current location
		li
			a(href="/projects/maps/directions") Map with input and directions
		li
			a(href="/projects/maps/street_simple") Map with street view
	h2 Social
	ol
		li
			a(href="/projects/social/fb/picture") Grab Facebook Picture
		li
			a(href="/projects/social/fb/like") Like Button
		li
			a(href="/projects/social/fb/login") Login Button
	h2 CORS
	ol
		li
			a(href="/projects/cors/cities") Cities
